{% extends "base.html" %}

{% block content %}

	<div class="col sm-3"></div>
	<div class="col sm-6">
		<h3 class="mb-1">Pasword Reset</h3>
		<form class="col sm-12" method="POST" enctype="multipart/form-data">
			{% csrf_token %}

			{% if form.non_field_errors %}
				{% for error in form.non_field_errors %}
					<span class="form-error mb-05">{{ error }}</span>
				{% endfor %}
			{% endif %}

			{% if form.errors.profile_pic %}
				{% for error in form.errors.profile_pic %}
					<span class="form-error mb-05">{{ error }}</span>
				{% endfor %}
			{% endif %}
			<div class="row sm-12 mb-1">
				{{ form.profile_pic }}
			</div>

			<div class="row sm-12">
				<button type="submit" class="button button-sm button-primary sm-3">Update Password</button>
			</div>
		</form>

	</div>
	<div class="col sm-3"></div>

{% endblock content %}