{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blog</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
	<header class="row pl-3 pr-3 p-1">
		<div class="row sm-3"></div>
		<div class="row sm-6">
			<h3 class="sm-2">BlogApp</h3>
			<nav class="row sm-10 horizontal-end small muted">
				<a href="{% url 'post:home' %}" class="ml-075">Posts</a>
				{% if request.user.is_authenticated %}
					<a href="{% url 'post:create' %}" class="ml-075">New Post</a>
					<a href="{% url 'profiles:home' email=request.user.email %}" class="ml-075">Profile</a>
					<a href="{% url 'logout' %}" class="ml-075">Logout</a>
				{% else %}
					<a href="{% url 'login' %}" class="ml-075">Login</a>
					<a href="{% url 'register' %}" class="ml-075">Register</a>
				{% endif %}
			</nav>
		</div>
		<div class="row sm-3"></div>
	</header>
	<main class="row pl-3 pr-3 p-1">
		{% block content %}{% endblock content %}
	</main>
</body>
</html>