{% extends "base.html" %}

{% block content %}

	<div class="col sm-3"></div>
	<div class="col sm-6">
		<h3 class="mb-1">Edit Your Comment</h3>
		<form class="col sm-12" method="POST">
			{% csrf_token %}
			{% if form.errors.content %}
				{% for error in form.errors.content %}
					<span class="form-error mb-05">{{ error }}</span>
				{% endfor %}
			{% endif %}
			<div class="row sm-12 mb-1">
				<!-- <textarea class="textarea textarea-lg p-1" placeholder="Content"></textarea> -->
				{{ form.content }}
			</div>
			<div class="row sm-12">
				<button type="submit" class="button button-sm button-primary sm-3">Update Comment</button>
			</div>
		</form>

	</div>
	<div class="col sm-3"></div>

{% endblock content %}