{% extends "base.html" %}

{% block content %}
	{% load post_extras %}
	<div class="col sm-3"></div>
	<div class="col sm-6">
		<form method="GET" class="row sm-12 mb-2" action="{% url 'post:search' %}">
			<input type="text" name="q" class="input input-sm pl-1 pr-1 sm-10" placeholder="Search Posts, Authors">
			<button type="submit" class="button button-sm row horizontal-center vertical-center ml-05">Search</button>
		</form>
		{% for post in posts %}
		{% if post.published %}
			<div class="post col sm-12 mb-2">
				<h3 class="mb-1"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
				<div class="row sm-12 mb-1 small muted horizontal-start">
					<div class="sm-4">
						<span>Author:</span><a href="{% url 'profiles:home' email=post.author.email %}" class="ml-05">{{ post.author.first_name }} {{ post.author.last_name }}</a>
					</div>
					<div class="sm-8">
						<span>Posted on:</span><span class="ml-05">{{ post.posted_on|date:"F j, Y" }}</span>
					</div>
				</div>
				<div class="small col sm-12">
					<p class="mb-1">{{ post.content|intro:250 }}</p>
				</div>
			</div>  
		{% endif %}
		{% endfor %}
				
		
	</div>
	<div class="col sm-3"></div>

{% endblock content %}